*{
    margin: 0px;
    padding: 0px;
}

.nav-container{
display: flex;
justify-content: space-between;
padding:10px 40px;
background-color: gray;
align-items: center;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.item:hover{
    color: red;
    cursor: pointer;
}